<% @bookings.each_with_index do |booking, index| %>
  <%= cl_image_tag booking.car.photo.key, class: "card-img" %>
  <p>ID de réservation : <%= booking.id %></p>
  <p>Voiture : <%= booking.car.model %> <%= booking.car.brand %></p>
  <p>Date de début : <%= booking.starts_at %></p>
  <p>Date de fin : <%= booking.ends_at %></p>
  <p>Nombre de jours avant : <%= @date %></p>
  <div class="price">
  Prix total : <%= @prices[index] %> €
  </div>
  <% if @date != 0 %>
    <%= link_to "Supprimer", booking_path(booking), data: { turbo_method: :delete } , method: :delete %>
  <% end %>
<% end %>
