<div class="container my-cars-container">
  <% @my_cars.each_slice(3) do |cars_group| %>
    <div class="row my-cars-row">
      <% cars_group.each do |car| %>
        <div class="voiture my-cars-voiture">
          <div class="card my-cars-card">
            <div class="card-img my-cars-card-img">
              <%= cl_image_tag car.photo.key, class: "card-img", if car.photo.present? %>
            </div>
            <div class="card-title my-cars-card-title"><%= car.brand %> <%= car.model %></div>
            <div class="card-subtitle my-cars-card-subtitle">
              <p class="subtitle-text my-cars-subtitle-text">Address: <%= car.address %></p>
              <p class="subtitle-text my-cars-subtitle-text">Price per day: <%= car.price_per_day %> €</p>
            </div>
            <div class="card-footer my-cars-card-footer">
              <div class="card-subtitle my-cars-card-subtitle">
                <p class="booking-count my-cars-booking-count" style="color: <%= car.bookings.count != 0 ? 'green' : 'red' %>;">Number of bookings: <%= car.bookings.count %></p>
              </div>
            </div>
            <div class="delete-button my-cars-delete-button">
                <%= link_to "Delete", car_path(car), data: { turbo_method: :delete } , method: :delete, class: "card-btn persobtn" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
