



<div class="container", style="gap: 66px;">
  <div class="imaghero">
    <%= image_tag("img.png", class: "imb") %>
  </div>
  <div class="herotext">
    <h1 class="headline">Get the car that you want easily
    <p class="subtitre"> Driven by a mission rooted in collaborative and responsible consumption
    </p>
    <div class="subcontent">
      <button class="buttonaccueil">
    <%= link_to 'Find the perfect car for you', '#search-section', style: "color:white !important"%>
      </button>
      <p class ="accroche">5,000 people already satisfied by Rental </p>

    </div>
  </div>



</div>

<div class="feature">
  <div class="contentfeature">
    <div class="feature-block">
      <%= image_tag("iconetel.png", class: "imgfeature") %>
      <div class="feature-text">
        <h3 class="titlefeature">User-Friendly Interface</h3>
        <p class="subfeature">Our car rental website offers a user-friendly interface, ensuring easy navigation and quick vehicle selection. With its intuitive design, finding and booking cars is effortless.</p>
      </div>
    </div>
    <div class="feature-block">
      <%= image_tag("iconevoiture.png", class: "imgfeature") %>
      <div class="feature-text">
        <h3 class="titlefeature">Wide Range of Vehicles</h3>
        <p class="subfeature">Explore our diverse selection of vehicles tailored to meet every need. Whether it's a compact car for city cruising or an SUV for family outings, we provide quality options, all meticulously maintained and ready to roll.</p>
      </div>
    </div>
    <div class="feature-block">
      <%= image_tag("iconebalance.png", class: "imgfeature") %>
      <div class="feature-text">
        <h3 class="titlefeature">Rates and Transparency</h3>
        <p class="subfeature">Experience competitive pricing and full transparency with us. Our clear, accurate pricing and up-to-date offers ensure no surprises or hidden fees, allowing you to book confidently and get the best value for your rental.</p>
      </div>
    </div>
  </div>
</div>



<div id="search-section">
  <%= render 'search' %>
</div>
<div class="grid-container">
  <div class="explorer">
    <%= image_tag("fusee.png", class:"fusee")%>
    <h2 class="bottomtext">Explore, Select, and Drive with Ease on Our User-Friendly Car Rental Platform!</h2>
  </div>

   <div class="voiture">
      <% @cars.each do |car| %>
    <div class="card">
      <div class="card-img">
          <%= cl_image_tag car.photo.key, class: "card-img", width: '226', height: '150.66' if car.photo.present? %>
        <!-- Vous pouvez ajouter une image ici -->
      </div>
      <div class="card-title"><%= car.brand %> <%= car.model %></div>
      <div class="card-subtitle"><%= car.address %></div>

      <div class="card-footer">
        <%= link_to car_path(car), class: "card-btn" do %>
          <div class="card-price"><%= car.price_per_day %><span>€/par jour</span> </div>
        <% end %>
      </div>
    </div>
  <% end %>
   </div>

</div>
<%= render 'footer' %>
