<div class="container">

  <div class="grid-container">
  <% @cars.each do |car| %>
    <div class="card">
      <div class="card-img">
          <%= cl_image_tag car.photo.key, class: "card-img" if car.photo.present? %>
        <!-- Vous pouvez ajouter une image ici -->
      </div>
      <div class="card-title"><%= car.brand %> <%= car.model %></div>
      <div class="card-subtitle"><%= car.address %></div>

      <div class="card-footer">
        <%= link_to car_path(car), class: "card-btn" do %>
          <div class="card-price"><%= car.price_per_day %><span>€/par jour</span> </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="search">
    <%= simple_form_for :search, url: cars_path, method: :get, html: { class: "fomrme", id: "search-form", onsubmit: "return validateForm();" } do |f| %>
  <div class="row">
    <div class="col-md-3">
      <%= f.input :brand, label: "Localisation", input_html: { id: "city-input", class: "form-control", placeholder: "Ville" }, name: 'search[city]' %>
    </div>
    <div class="col-md-3">
      <%= f.input :model, collection: 1..8, label: "Nombre de personnes", input_html: { id: "capacity-input", class: "form-control select" } %>
    </div>
    <div class="col-md-3">
      <%= f.input :address, collection: 1..8, label: "Nombre de personnes", input_html: { id: "capacity-input", class: "form-control select" } %>
    </div>
    <div class="col-md-3">
      <%= f.input :start_date, label: "Votre séjour ", input_html: { id: "start-date-input", class: "form-control", placeholder: "Vos dates", type: "text", data: { controller: "flatpickr" } } %>
    </div>
    <div class="col-md-3 maclassebut">
      <div id="date-difference"></div>
      <%= f.button :submit, "Rechercher", class: "monbutton" %>
    </div>
    <%= f.input :end_date, as: :hidden, input_html: { id: "end-date-input" } %>
  </div>

<% end %>
  </div>


</div>

<%= render 'footer' %>
