<div class="container">
  <% if @my_cars %>
    <div class="row" style="display: flex; justify-content: center; flex-wrap: wrap;">
      <% @my_cars.each_slice(3) do |cars_group| %>
        <% cars_group.each do |car| %>
          <div class="voiture" style="flex: 0 0 33.33%; max-width: 33.33%;">
          <div class="card">
            <div class="card-img">
              <%= cl_image_tag car.photo.key, class: "card-img", width: '226', height: '150.66' if car.photo.present? %>
            </div>
            <div class="card-title"><%= car.brand %> <%= car.model %></div>
            <div class="card-subtitle" style="gap: 10px">
              <p style="width: 155px;">Address: <%= car.address %></p>
              <p style="width: 155px;">Price per day: <%= car.price_per_day %> €</p>
            </div>
            <div class="card-footer">
              <div class="card-subtitle" style="text-align: center; display: block;">
                <p style="color: <%= car.bookings.count != 0 ? 'green' : 'red' %>; font-weight: <%= car.bookings.count != 0 ? '600' : 'normal' %>;">Number of bookings: <%= car.bookings.count %></p>
              </div>

            </div>
            <div style="text-align: center; padding:10px; display: block;">
                <%= link_to "Delete", car_path(car), data: { turbo_method: :delete } , method: :delete, class: "card-btn persobtn" %>
              </div>
             </div>
       </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
